body{
    .playfair-display-<playfair> 
    {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    }
}
*{
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 15px;
  background-color: peachpuff;
}
h1{
  font-size: 120px;
}
.subtitle{
  font-size: 30px;

}
p{
  margin-right: 900px;
  font-size: 16px;
}

#size {
  font-size: 25px;
}

#color {
  color: green;
}